@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MYRIADPRO-BOLD.woff2') format('woff2'),
         url('fonts/MYRIADPRO-BOLD.woff') format('woff'),
         url('fonts/MYRIADPRO-BOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}