@import url('fonts.css');

.bold-text {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: bold;
}

.different { color: #00d0e0; }

.no-scroll {
    height: 100vh;
    padding-right: 0 !important;
}

.bg-video {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
   /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 1920px;
    height: 1080px;*/
}

/*@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	.bg-video {
		width: 100%;
		height: auto;
	}
}

@media (-webkit-max-device-pixel-ratio:2),(max-resolution:192dpi){
	.bg-video {
		width: auto;
		height: 100%;
	}
}*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: white;
    position: relative;
    z-index: 5;
}

.nav {
    display: flex;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    border-radius: 30px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-btn {
	width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #00d0e0;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 1px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
}

.desktop-nav, .desktop { display: flex; }

.mobile-menu { display: none; }

.home__content__logo {
    width: 50%;
    height: 50%;
    justify-self: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.description__text {
	width: 75%;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	justify-self: center;
}

.uppercase { text-transform: uppercase; }

.home__body__div {
	display: flex;
	justify-content: center;
    padding-top: 20px;
}

.cta-button {
	width: auto;
    background: #00d0e0;
    color: #000;
    padding: 12px 24px;
    border-radius: 1px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.home__content__image {
    background: url("../assets/home.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

.home__content {
	position: absolute;	
	bottom: 8rem;
	display: flex;
	flex-direction: column;
    align-items: center;
}

/*.home__image {
	width: 100%;
}*/

.registration {
    background: url("../assets/registration.svg") no-repeat center center;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 600px;
    height: auto;
}

.form__bg-mobile {
	padding: 20px 40px 20px 22px;
    position: absolute;
    bottom: 3rem;
    left: 1rem;
}

.form__info ul { background: transparent!important; }

.form-group-btn { padding: 10px; }

.form-group-btn {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.btn-submit {
    width: 100%!important;
    display: flex!important;
    justify-content: center!important;
}


.line {
    background:url("../assets/line.webp");
	background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
	width: 100%;
    min-height: 86px;
    position: relative;
    z-index: 2;
    bottom: -2rem;
}

/* Why we? */
.block__row {
	position: relative;
}
.block__img, .block__col {
	position: relative;
	z-index: 2;
}

.block__title-2 {
	font-size: 25px;
	text-transform: uppercase;
}

.block__description {
	max-width: 70%;
	position: relative;
    bottom: 9rem;
    left: 3rem;
}

.block__description p {
	color: #fff;
	font-size: 15px;
}

.block__description__btn {
	text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    cursor: pointer;
}

.btn-border {
    border: 1px solid #666;
    border-radius: 50px;
    padding: 3px 5px;
    width: 100%;
    max-width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    border-radius: 1px;
    padding: 0 20px;
    height: 40px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    cursor: pointer;
    color: #000;
    background: #00d0e0;
    transition: all 0.3s ease-in-out;
    width: auto;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn__label {
	border-radius: 50px;
	width: auto;
}

.btn__label:hover {
	width: 100%;
	justify-content: center;
}

.flash_why_we {
	background: url("../assets/flash.webp") center center / cover no-repeat;
	position: absolute;
    width: 60%;
    height: 100%;
    z-index: 1;
    bottom: 22%;
}

/* Why Trade with NetherexPro? */
.space {
	padding-block: 0;
}

.container__trading {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.block__img__trading {
	width: 50%;
	display: flex;
    align-items: flex-end;
}

.rocket {
	border: 1px solid #666;
    padding: 20px;
    border-radius: 10px;
}

.container__trading__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 71%;
    justify-content: center;
}

.container__trading__description p {
	color: #fff;
    font-size: 16px;
    font-weight: 300;
    width: 90%;
}

.trading__block__title {
	font-weight: 300;
	text-decoration: underline;
	text-underline-offset: 5px;
}

.trading_rocket {
	display: flex;
    align-items: flex-end;
    width: 15%;
}

.container__trading__details {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: flex-end;
}

.coin { width: 30%; }

.numbers {
	font-size: 50px;
	font-weight: 900;
	color: #fff;
}

.numbers span { font-size: 20px; }

.number__info {
	color: #fff;
	margin-top: 0;
	text-transform: uppercase;
}

.container__trading__details__info button { margin-top: 20px; }

/* How does NetherexPro improve your trading experience? */
.container__experience {
    position: relative;
    background: url("../assets/experince.webp") no-repeat center center;
    background-size: cover;
    background-color: #608385;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 100%;
    padding: 20px;
    z-index: 1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container__experience {
        background-image: url(../assets/experince.webp);
    }
}

.container__experience::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000400ba;
    z-index: -1;
}

.experience__title {
	text-transform: uppercase;
	font-size: 40px;
}

.experience__info {
	text-align: center;
	max-width: 500px;
}

.experience__button {
	margin-top: 20px;
	text-transform: uppercase;
}

.benefit__col span {
	color: #fff;
	font-size: 14px;
}

.icon-wrapper {
    display: flex;
    justify-content: left;
    position: relative;
}
.benefit-line {
    position: absolute;
    width: 110%;
    height: 2px;
    background-color: #666;
    top: 50%;
    right: 22%;
    transform: translateX(50%);
    z-index: -1;
}

.benefit__col:last-child .benefit-line {
    width: 80%;
    right: 37%;
}

/* Getting Started with NetherexPro */
.title_started {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.title_info {
	color: #fff;
	font-size: 20px;
}

.steps__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.step__card {
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.step__card:nth-child(1) {
    margin-right: -50px;
    z-index: 4;
}

.step__card:nth-child(2) {
    margin-top: 10px;
    z-index: 10;
}

.step__card:nth-child(3) {
    margin-left: -50px;
    z-index: 4;
}

.step__img {
    width: auto;
}

.step__card img {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.step__card:hover img {
    transform: scale(1.05);
}

/*.flash_step2 {
    background: url("../assets/flash.webp") center center / contain no-repeat;
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 3;
    bottom: -12%;
    pointer-events: none;
}*/

.flash_step2 {
    background: url("../assets/flash.webp") center center / contain no-repeat;
    position: absolute;
    width: 100%;
    height: 500px;
     z-index: 3; 
    bottom: -12%;
    pointer-events: none;
}

.step__number {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #00d0e0;
    border: 2px solid #666;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    line-height: normal;
    text-align: center;
}


.step__card:hover .step__number {
    transform: scale(1.2);
    border-color: #fff;
}

.step__description p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    transition: max-height 0.3s ease-out;
    position: relative;
    max-width: 100%;
}

.step__card:hover .step__description p {
    -webkit-line-clamp: unset;
    overflow: visible;
    max-height: 100vh;
}

.step__description {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: left;
    transition: all 0.4s ease-in-out;
}

.step__description h1 {
    color: #fff;
    font-size: 20px;
}

.step__card:hover .step__description {
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.header__number {
    display: flex;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
}

.activated {
    justify-content: center;
    transform: scale(1.2);
}

.shown {
    display: none;
}

.step__card:hover .shown {
    display: block;
}

.after_hovered {
    text-align: left;
    color: #ddd;
    transition: all 0.3s ease-in-out;
}

.move-right {
    display: flex!important;
    justify-content: flex-end!important;
    margin-top: 10px;
}

.step_line {
	background: url("../assets/step_line.svg");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
    height: 140px;
    position: relative;
    z-index: 2;
}

/* Investing in Bitcoin? */
.investing_section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-block: 20px 0!important;
}

.container__investing {
    margin: 0 auto;
    width: 100%;
    max-width: 1320px;
    padding-inline: 10px;
}

.investing_title { text-transform: uppercase; }

.btn-border__investing {
	margin-top: 0px;
	max-width: 20%;
}

.bg-graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
    display: flex;
}

.slider {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-top: 100px;
}

.slide.active { opacity: 1; }

.text-content {
	max-width: 40%;
    text-align: left;
}

.text-content h2, .text-content p {
	color: #fff;
}

.text-content h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.text-content p { margin-top: 20px; }

.pagination {
	position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.dot {
	width: 30px;
    height: 5px;
    background: #666;
    cursor: pointer;
    transition: width 0.3s, background-color 0.3s;
}
   
.dot.active:first-child { width: 70px; }

.dot.active:nth-child(2) { width: 50px; }

.dot.active:nth-child(3) { width: 40px; }

.dot.active { background: #00d0e0; }

/* FAQ */
.faq-section {
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.faq-container {
    display: flex;
    padding: 20px;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}

.faq-image {
    position: relative;
    width: 40%;
    max-width: 30%;
    flex: 1;
    height: 400px;
}

.faq-image img {
	width: 100%;
	border-radius: 10px;
}

.faq-content {
    width: 60%;
    max-width: 30%;
    padding-left: 20px;
    flex: 1;
    overflow: hidden;
}

.faq-title {
	font-size: 24px;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}

.faq-title span {
	display: block;
	color: #00d0e0;
}

.faq-item { margin-bottom: 20px; }

.faq-item h3 {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.faq-item p {
	font-size: 14px;
	color: #ccc;
	text-align: center;
}

.more-text { display: none; }

.faq_btn {
    display: block;
    text-align: center;
    color: #00d0e0;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.faq_contact_btn {
    margin-top: 0;
    position: relative;
    bottom: 15%;
    left: 50%;
    padding: 5px 24px;
    text-transform: uppercase;
}

.faq_contact_description h2 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.faq_contact_description p {
    color: #fff;
    font-size: 14px;
    max-width: 80%;
}

.faq_flash_line {
	background: url("../assets/faq_line.webp");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	max-width: 100px;
	flex: 1;
    position: relative;
    z-index: 2;
}

.faq_line {
    background:url("../assets/line.webp");
	background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
	width: 100%;
    min-height: 86px;
    position: relative;
    z-index: 2;
    bottom: -2rem;
}

/* FOOTER */
.flex-bl-copyright {
	display: flex;
	justify-content: center;
}

.footer-nav {
	margin-bottom: 20px;
	display: flex;
}

footer .nav-footer {
	justify-content: flex-start;
	padding: 0;
}

footer .nav-footer .language {
    margin-left: 0;
    border-radius: 1px;
    background: #00d0e0;
    border: none;
}

footer .nav-footer .language .subitem a { padding: 6px 0px; }

footer .menu__link {
	color: #000;
	font-weight: 400;
}

footer .menu__link:hover { color: #000; }

footer .nav-footer .language>a::after{
	content:"";
	width:12px;
	height:12px;
	min-width:0;
	background:url("../assets/direction-down-black.svg")
}

@media (width: 1024px) {
	.header { padding: 15px 20px; }
	.form__bg-mobile { bottom: 1rem; }
	.form-group-btn { padding-bottom: 0; }
	.form__div { padding-bottom: 40px; }
	.form__bg ul li:not(:last-child) { margin-bottom: 5px; }
	.home__hold { gap: 40px; }
	.home__content__logo { margin-bottom: 0px; }
	.home__content { bottom: 4rem; }
	.bg-video {
		width: 1024px;
    	height: 844px;
	}

/* Why Trade with NetherexPro? */
	.container__trading { gap: 10px; }
	.block__img__trading { width: 100%; }
	.container__trading__description { width: auto; justify-content: flex-end; }
	.trading_rocket { width: 30%; }
	.coin { width: 50%; }
	.block__title-2 { font-size: 30px; }
	.number__info { font-size: 8px; }

/* How does NetherexPro improve your trading experience? */
	.benefit-line {
		width: 104%;
		right: 18%;
	}

	.benefit__col:last-child .benefit-line {
	    width: 73%;
        right: 34%;
	}

/* Getting Started with NetherexPro */
	.flash_step2 {
	    background-size: cover;
	    height: 300px;
	}
	.step__description h1 {
		font-size: 18px;
	}
	.step__description {
		max-width: 75%;
	}

/* Investing in Bitcoin? */
	.btn-border__investing {
		margin-top: 0px;
		max-width: 30%;
	}

}

@media (max-width: 768px) {
	.desktop-nav, .desktop, .registration, .home__content__image, .footer-nav { display: none; }
    .mobile-menu { 
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    #menu { 
        display: none; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100vh; 
        background: rgba(0, 0, 0, 0.8); 
        text-align: center; 
        padding-top: 100px; 
    }
    #menu.overlay { 
        display: block; 
        z-index: 49;
    }
    #menu ul {
        padding: 0;
    }
    #menu li {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    #menu a {
        color: #fff;
        display: block;
        font-size: 25px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .contact-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    #burger-menu { 
        cursor: pointer; 
        height: 27px; 
        width: 27px; 
        position: relative; 
        z-index: 50; 
    }
    #burger-menu span, #burger-menu span:before, #burger-menu span:after {
        background: #fff; 
        display: block; 
        height: 2px; 
        position: absolute; 
        transition: 0.3s ease-in-out;
    }
    #burger-menu span:before, #burger-menu span:after { content: ''; }
    #burger-menu span:before { 
        left: 0; 
        top: -10px; 
        width: 27px; 
    }
    #burger-menu span { 
        right: 0; 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu span:after { 
        left: 0; 
        top: 10px; 
        width: 27px; 
    }
    #burger-menu.close span:before { 
        top: 0; 
        transform: rotate(90deg); 
        width: 27px; 
    }
    #burger-menu.close span { 
        transform: rotate(-45deg); 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu.close span:after { 
        top: 0; 
        left: 0; 
        transform: rotate(90deg); 
        opacity: 0; 
        width: 0; 
    }
    .bg-video { width: 100%; height: 100% }
    .home__hold { padding-bottom: 0px; }
    .contact-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background: transparent;
        color: #fff;
    }
    .form__bg-mobile {
    	padding: 20px;
    	position: initial;
    	display: block;
    	border: 1px solid #666;
    }
    input { border: 1px solid #d5d9ed; }
    .home__content { position: initial; }
    .description__text { width: 100%; }
    .header { padding: 15px 10px; }
    .bg-video {
    	width: 100%;
    	height: 967px;
    }
    .line { bottom: 0; }

/* WHY WE? */
	.space { padding-block: 100px!important; }
    .block__row { flex-direction: column-reverse; }
    .spacing { padding-block: 10px 0!important; }
    .btn-border { 
    	margin-top: 0px; 
    	margin: 0;
    	margin-bottom: 20px;
    }
    .block__img {
	    width: 100%;
	    max-width: 500px;
	    margin: 0 auto;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.block__description { left: 0; }
	.flash_why_we { 
		top: 20%;
        left: 40%;
	}

/* Why Trade with NetherexPro? */
	.container__trading { gap: 10px; }
	.block__img__trading { align-items: normal; width: 70%; }
	.trading_rocket { width: auto; }
	.container__trading__description { width: 70%; }
	.coin { width: 50%; }
	.rocket { padding: 10px; }

/* How does NetherexPro improve your trading experience? */
	.experience__title { font-size: 30px; }
	.experience__info { max-width: 100%; }
	.experience__button { margin: 0 auto; margin-top: 20px; }
	.benefit__col__mobile {
		flex-direction: column;
		align-items: center;
	}
	.benefit-line { display: none; }
	.benefit__col span { text-align: center; }

/* Getting Started with NetherexPro */
	.steps__cards {
		flex-direction: column;
		margin-top: 50px;
	}
	.step__card:hover .step__description {
	    left: 50%;
	}
	.step__description {
		left: 50%;
	}

/* Investing in Bitcoin? */
	.btn-border__investing {
		margin-top: 0px;
		max-width: 40%;
	}

	.slider { height: 80%; }
	.slide { 
		justify-content: center;
		margin-top: 10px;
	 }
	.text-content { max-width: 100%; }
}

@media (max-width: 425px) {
	.bg-video { height: 991px; }
	.block__description { bottom: 7.5rem; }
	.block__description p { font-size: 13px; }
	.block__description__btn { font-size: 13px; }
	.btn-border { max-width: 50%; }
	.flash_why_we { 
		top: 20%;
        left: 0;
        width: 100%;
	}
	.space { padding-block: 50px!important; }

/* Why Trade with NetherexPro? */
	.container__trading {
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	}
	.container__trading__description { width: 100%; }
	.container__trading__description p { width: 100%; text-align: left; }
	.trading_rocket { display: none; }
	.container__trading__details { width: 100%; align-items: center; }
	.container__trading__details__info button { margin: 0 auto; margin-top: 20px; }

/* Getting Started with NetherexPro */
	.step__card:nth-child(1), .step__card:nth-child(3) { 
		margin-right: 0; 
		margin-left: 0; 
	}
	.step__img { margin: 0; }
	.step__description { bottom: 2rem; }
	.step_line { 
		background-size: cover;
		height: 80px; 
	}

/* Investing in Bitcoin? */
	.btn-border__investing { max-width: 70%; }
}

@media (max-width: 375px) {
	.bg-video { height: 1020px; }
	.btn-border { max-width: 60%; }
	.block__description { bottom: 6.8rem;  }
	.block__description p { font-size: 12px; }
	.block__description__btn { font-size: 12px; }
	.flash_why_we { width: 100%!important; }
	.block__title-2 { font-size: 19px; text-align: left; }
	.flash_step2 {
		background-size: cover;
		height: 100%;
	}
	.step__description { bottom: 1.5rem; }
	.step__description h1 { font-size: 18px; }
	.step_line { height: 60px; }
	.btn-border__investing { max-width: 80%; }
}

@media (max-width: 320px) {
	.bg-video { height: 1045px; }
	.header { padding: 8px 5px; }
	.block__description { bottom: 5.5rem;  }
	.block__description p { font-size: 10px; }
	.block__description__btn { font-size: 10px; }
	.flash_why_we { width: 100%!important; }
	.title_started { font-size: 21px; }
	.step__description { bottom: 1.5rem; }
	.step__description h1 { font-size: 15px; }
	.step_line { height: 50px; }
}